JWT_SALT=
JWT_EXPIRE_ACCESS=
JWT_EXPIRE_REFRESH=
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
DB_URL=
PASSWORD_SALT=
DEV_FILE_SERVER_URL=
DEV_SMTP_SERVER=
FILE_MAX_COUNT=
KAKAOAK=
MAILID=
MAILPASSWORD=
MAILSERVICE=